.create-account{
    position: absolute;
    bottom: -20%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .create-account{
        bottom: -25%;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }   
}

@media only screen and (min-width: 1300px) {
    .create-account{
        width: 70%;
    }   
}