.main-section{
    display: flex;
    width: 75%;
    margin: auto;
    align-items: flex-end;
    justify-content: space-between;

    background: linear-gradient(116.52deg, rgba(255, 255, 255, 0.22) -0.3%, rgba(255, 255, 255, 0.2) 81.34%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}