.main-input{
    background-color: transparent;
    border: 2px solid;
    border-color: gray;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    width: 350px;
    height: 36px;
    margin-bottom: 30px;
}

.main-input::placeholder{
    font-family: Poppins, sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
}