.main-section{
    display: flex;
    width: 75%;
    max-width: 1100px ;
    height: auto;
    align-items: flex-end;
    justify-content: space-between;

    padding:3rem 3rem 3rem  9.5rem;

    background: linear-gradient(116.52deg, rgba(255, 255, 255, 0.22) -0.3%, rgba(255, 255, 255, 0.2) 81.34%);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}


@supports not (backdrop-filter: blur()){
    .main-section{
        background: rgb(95, 95, 95);
    }
    .forgotten-password{
        padding-top: 8rem;
    }
}