.main-button{
    background-color: #000;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
    margin-top: 5rem;
    padding: 0.9rem 1.2rem;
}

.main-button:hover{
    transform: scale(1.04);
    transition: 150ms linear;
}
