html{
    font-size: 62.5%;
    /* 1 rem = 10px*/
}

@media screen and (max-width: 1024px){
    .renaissance-img{
        display: none;
    }
    .main-section{
        justify-content: center;

        padding: 0.5rem;
    }
    .main-form{
        width: 90%;
        height: 80%;
        max-width: none;
    }
    .body-background{
        background-size: auto 100vh;
    }
}
